random-regress/old-versions/ILP14/journal-revision/proximity/test/java/kdl/prox/rdnview/rdn.dtd

<!--

  Proximity Relational Dependency Network (RDN) DTD
  Version: 1.0

  Used to group RPT files and user item maps into a single file that is used to
  graph the RDN.

  Part of the open-source Proximity system
  (see LICENSE for copyright and license information).
  -->

<!ELEMENT rdn (rpt-files, item-maps*)>

<!ELEMENT rpt-files (file+)>
<!ELEMENT file (#PCDATA)>

<!ELEMENT item-maps (map+)>
<!ELEMENT map (from, to+)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT to (#PCDATA)>
